# Middleware server env
PORT=5000
RAILWAY_BASE_URL=https://test-9she.onrender.com
ECOM_BASE_URL=https://ecommerce-integration.onrender.com
# Put real tokens here (do not commit .env)
RAILWAY_AUTH_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJlLWNvbW1lcnNlIiwic3ViIjoiSldUIFRva2VuIiwidXNlcm5hbWUiOiJhYmNAZ21haWwuY29tIiwiYXV0aG9yaXRpZXMiOiJST0xFX1VTRVIiLCJpYXQiOjE3NzAzNzYxNzksImV4cCI6MTc3MDQwNjE3OX0.JS5997KsXWduJdMuRpGdjrsjJdIo-Vzom3LoStdskD0
ECOM_AUTH_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOjExLCJyb2xlIjoiVVNFUiIsImlhdCI6MTc3MDM0MDY1NSwiZXhwIjoxNzcwNDI3MDU1fQ.53WD0CrTS1qwLHppEI4JS3TuCSx7DU8gFpjo0pOHzRo
PHONESTORE_BASE_URL=https://phone-store-dinh.vercel.app
PHONESTORE_DATABASE_URL=mysql://product_reader:StrongPassword123PS!@tramway.proxy.rlwy.net:40018/phonewebsite